/* Project ecosystem 1 by Daria Evseeva, Eduardo Vela, Nicolas Brich, Sarah Ertel, Constantin Holzapfel 21.1.19 */

li:hover {
  background-color: lightgray;
  color: white;
}

.active {
  background-color: lightgray;
  color: white;
}


a {
    color: white;
}

.scrollable {
    height: 800px;
    overflow: auto;
}
