/* Project ecosystem 1 by Daria Evseeva, Eduardo Vela, Nicolas Brich, Sarah Ertel, Constantin Holzapfel 21.1.19 */


/* Pie Chart */
/*
.pie-chart {
    margin-bottom: 2em;
}

.pie-chart .label {
    font-size: 85%;
}

.pie-chart .values {
    font-weight: bold;
}

.container-fluid {
    margin : 40px;
}
*/

a:link{
	color: black;

}

h1 div{
	margin-top: 5px;
	font-size: 35%;
}

body { padding-top: 70px; }
