/* Project ecosystem 1 by Daria Evseeva, Eduardo Vela, Nicolas Brich, Sarah Ertel, Constantin Holzapfel 21.1.19 */


/* Metadata */

.metadata {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 3em;
}

.metadata .chart-wrapper {
	margin: 2em 0;
	text-align: center;
}

/* Chart */

.chart .label {
	font-weight: normal;
}

.chart text {
	fill: #333;
}

.chart .x-axis text.rotate {
	text-anchor: end;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Histogram */

.histogram .bar {
	fill: #17a2b8;
	-webkit-transition: fill 0.1s ease-out;
	-o-transition: fill 0.1s ease-out;
	transition: fill 0.1s ease-out;
}

.histogram .bar:hover {
	fill: #fc8d62;
	opacity: 0.9;
}

.histogram .label {
	font-weight: bold;
}

.histogram .label.x-axis {
	text-anchor: middle;
}

.histogram .label.y-axis {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;
}

.histogram .tick {
	color: #555;
}

.histogram path {
	stroke: #555;
}

/* Pie Chart */

.pie svg {
	overflow: visible;
}

.pie path {
	stroke: #eee;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.2s ease-in-out;
	transition: opacity 0.3s, -webkit-transform 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out, opacity 0.3s;
	transition: transform 0.2s ease-in-out, opacity 0.3s;
	transition: transform 0.2s ease-in-out, opacity 0.3s, -webkit-transform 0.2s ease-in-out;
}

.pie path:hover {
	opacity: 0.9;
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}

.pie .label {
	font-size: 85%;
}

.pie .values {
	font-weight: bold;
}
