<!DOCTYPE html>
<html lang="en">
<head>
  <title>Visualisation of human intestinal ecosystem</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    
<body>
    
      
<!-- Navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Visualisation of human intestinal ecosystem</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('metadataOverview') }}">Metadata Overview </a></li>
      <li><a href="{{ url_for('dataExploration') }}">Profile exploration</a></li>
    </ul>
  </div>
</nav>
    
 <!-- Inhalt -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      {% block content %}
      {% endblock %}
    </div>
    <div class="col-md-3">
       <div class="container">
              <form>
                  <div class="form-group">
                      <h3>Filter</h3>
                      <label>Age:</label>
                      <div class="row">
                        <div class="form-group col-xs-1">
                        <label>From</label>
                        <input type="number" class="form-control">
                       </div>
                        <div class="form-group col-xs-1">
                        <label>To</label>
                        <input type="number" class="form-control">
                       </div>
                  </div> 
                 </div> 
                <div class="form-group">
                <label>Sex:</label>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Sex
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">male</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">female</a></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">NA</a></li>
                    </ul>
                  </div>
                </div>
                <div class="form-group"> 
                <label>Nationality:</label>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Nationality
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">US</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CentralEurope</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SouthEurope</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Scandinavia</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">UKIE</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">EasternEurope</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">NA</a></li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">  
                  <label>BMI:</label>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">BMI
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">severeobese</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">obese</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">lean</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">underweight</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">NA</a></li>
                    </ul>
                  </div>
                </div>
         </form>
    </div>
    </div>
  </div>
</div>  
</body>
</html>
