<!--Project ecosystem 1 by Daria Evseeva, Eduardo Vela, Nicolas Brich, Sarah Ertel, Constantin Holzapfel 21.1.19 -->

{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static', filename='ecosystem1_filter.js') }}" type="text/javascript"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='ecosystem1_pcoa.css') }}">

<script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>

		<div id="chart">
		</div>
    	<div id="dataset-picker">
    	</div>

		<script src="{{ url_for('static', filename='ecosystem1_pcoa.js') }}" type="text/javascript">
		</script>
		<div id="tooltip" class="hidden">
			<p><span id="value"></p>
		</div>
		<script>
			var dataset = {{ data | safe }};
			//filter initialisation
			var filter = filter_object(dataset,true);

			console.log("html", dataset);

			window.onload = function() {
				//hiding column filter
				document.getElementById("colfilter_div").style.display="none";

				//PCoA plot initialisation
				myPlot = plotPCoA();
				myPlot.init(dataset);

				//Filter button event listeners
				document.querySelector('#BMI').addEventListener('click', function(){
					console.log(filter_wrapper(filter,"pcoa"))
					myPlot.update(filter_wrapper(filter,"pcoa"));
				});
				document.querySelector('#NATIONALITY').addEventListener('click', function(){
					console.log(filter_wrapper(filter,"pcoa"))
					myPlot.update(filter_wrapper(filter,"pcoa"));
				});
				document.querySelector('#SEX').addEventListener('click', function(){
					console.log(filter_wrapper(filter,"pcoa"))
					myPlot.update(filter_wrapper(filter,"pcoa"));
				});
				document.querySelector('#sortby').addEventListener('click', function(){
					myPlot.updateColors(filter_wrapper(filter,"pcoa"), document.getElementById("btn_sortby").value);
				});
				document.querySelector('#AGE').addEventListener('click', function(){
					console.log(filter_wrapper(filter,"pcoa"))
					myPlot.update(filter_wrapper(filter,"pcoa"));
				});
				/*document.querySelector('#FROM').addEventListener('input', function(){
					console.log(filter_wrapper(filter,"pcoa"))
					myPlot.update(filter_wrapper(filter,"pcoa"));
				});
				document.querySelector('#TO').addEventListener('input', function(){
					console.log(filter_wrapper(filter,"pcoa"))
					myPlot.update(filter_wrapper(filter,"pcoa"));
				});
*/
			};


		</script>
		
		
		<div id="pca_sort"> 
			<p>Indices of the first 50 the most weighted PCA features on the <b>not normalized </b>data: </p>
			<p id="unnorm"></p>
			<p>Indices of the first 50 the most weighted PCA features on the <b> normalized </b> data:</p>
			<p id="norm"></p>
			<p><i> Please use the <b> Column-filter </b> option of the Profile exploration page to explore this data. </i></p>
    	</div>

{% endblock %}
