<!--Project ecosystem 1 by Daria Evseeva, Eduardo Vela, Nicolas Brich, Sarah Ertel, Constantin Holzapfel 21.1.19 -->

{% extends "base.html" %}

{% block content %}

	<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
	<script src="{{ url_for('static', filename='ecosystem1_metadata.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='ecosystem1_filter.js') }}" type="text/javascript"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='ecosystem1_metadata.css') }}">
	<script>
		$(document).ready(function() {
			let dataset = {{ data | safe }};
			let filter = filter_object(dataset,false);
			let chartsWidth = 380;
			let chartsHeight = chartsWidth;

			//hides buttons
			document.getElementById("sortby_div").style.display="none";
			document.getElementById("colfilter_div").style.display="none";

			// Arrange metadata values
			let columns = groupByColumn(dataset["metadataOverview"]);
			let ageColumn = columns["Age"].values;
			let sexColumn = columns["Sex"].values;
			let nationColumn = columns["Nationality"].values;
			let BMIColumn = columns["BMI_group"].values;

			// Age histogram
			let ageChart = new BarChart();
			ageChart.selectionElement = d3.select(".age").datum(ageColumn);
			ageChart.chartWidth = 400;
			ageChart.chartHeight = 420;
			ageChart.yAxisLabel = "Frequencies";
			ageChart.xAxisLabel = "Age";
			ageChart.show();

			// Sex pie chart
			let sexChart = new PieChart();
			sexChart.selectionElement = d3.select(".sex").datum(sexColumn);
			sexChart.chartWidth = chartsWidth;
			sexChart.chartHeight = chartsHeight;
			sexChart.show();

			// Nationality histogram
			let nationChart = new BarChart();
			nationChart.selectionElement = d3.select(".nationality").datum(nationColumn);
			nationChart.chartWidth = 400;
			nationChart.chartHeight = 400;
			nationChart.yAxisLabel = "Frequencies"
			nationChart.xAxisLabel = "Nationalities";
			nationChart.sortData = true;
			nationChart.rotateLabels = true;
			nationChart.show();

			// BMI group pie chart
			let BMIChart = new PieChart();
			BMIChart.selectionElement = d3.select(".bmi").datum(BMIColumn);
			BMIChart.chartWidth = chartsWidth;
			BMIChart.chartHeight = chartsHeight;
			BMIChart.show();

			document.querySelector('#AGE').addEventListener('click', function(){
				columns = groupByColumn(filter_wrapper(filter, "Meta"))

				ageChart.update(columns["Age"].values);
				sexChart.update(columns["Sex"].values);
				nationChart.update(columns["Nationality"].values);
				BMIChart.update(columns["BMI_group"].values);
				});
			// Attach listener for data filtering
			$("form ul").on("click", function() {
				columns = groupByColumn(filter_wrapper(filter, "Meta"))

				// Update charts
				ageChart.update(columns["Age"].values);
				sexChart.update(columns["Sex"].values);
				nationChart.update(columns["Nationality"].values);
				BMIChart.update(columns["BMI_group"].values);
			});
		});
	</script>

<div class="container-fluid">
	<div class="row metadata">
		<div class="col-md-6 chart-wrapper">
			<div class="age histogram chart"></div>
		</div>
		<div class="col-md-6 chart-wrapper">
			<div class="sex pie chart"></div>
		</div>
		<div class="col-md-6 chart-wrapper">
			<div class="nationality histogram chart"></div>
		</div>
		<div class="col-md-6 chart-wrapper">
			<div class="bmi pie chart"></div>
		</div>
	</div>

</div>


{% endblock %}
