<!--Project ecosystem 1 by Daria Evseeva, Eduardo Vela, Nicolas Brich, Sarah Ertel, Constantin Holzapfel 21.1.19 -->

{% extends "project_base.html" %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='ecosystem1_project.css') }}">

<div class = "container-fluid">

<!-- project description -->
<h1>Project ecosystem 1 - Visualisation of the human instestinal ecosystem <div><strong>by Daria Evseeva, Eduardo Vela, Nicolas Brich, Sarah Ertel, Constantin Holzapfel 21.1.2019</strong></div></h1>
<p>Scientists sequence thousands of samples of the human bacterial intestinal ecosystem and collect the metadata from those healthy volunteers to correlate this data to health issues.
<p>This project focuses on ways to visualize this data and their metadata. <br>
The sampled data originates from Lahti et al. 
(<a href="https://www.nature.com/articles/ncomms5344">https://www.nature.com/articles/ncomms5344</a>), which is available here: 
<a href="https://datadryad.org/resource/doi:10.5061/dryad.pk75d">https://datadryad.org/resource/doi:10.5061/dryad.pk75d</a>.
</p>
<p>It consists of 1006 microbiome profiles showing the relative abundance of each genus-like taxa. The collected metadata to each profile consists of 9 attributes, where only selected attributes are being visualized.</p>
<p>Please feel free to discover this visualisation webpage! You can navigate by the menu bar above and select filters at your will.</p> <h3><h4><strong>Enjoy!</strong></h4>


</div>



{% endblock %}

